body{
    display: flex;
    justify-content: center;
}

.gameSpace{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

#title{
    grid-column: 2/3;
    grid-row: 1/2;
}

.boxBoard{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.box{
    background-color: lightgray;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#player-x{
    grid-column: 1/2;
    grid-row: 2/3;
}

#player-o{
    grid-column: 3/4;
    grid-row: 2/3;
}

.endgame{
    grid-column: 2/3;
    grid-row: 3/4;
}